:root {
  --color-border-white-100: #ffffff;
  --color-text-skyblue-100: #3b82f6;
  --color-text-white-200: #ffffff;
  --color-background-mediumblue: #4f93f7;
  --color-text-black-100: #000000;
  --color-text-gray-100: #7d7987;
  --color-rectangle-blue-100: #5a98f2;

  --spacing-1: 0.25rem; /* 4px   */
  --spacing-2: 0.5rem; /* 8px   */
  --spacing-3: 0.75rem; /* 12px  */
  --spacing-4: 1rem; /* 16px  */
  --spacing-5: 1.25rem; /* 20px  */
  --spacing-6: 1.5rem; /* 24px  */
  --spacing-7: 1.75rem; /* 28px  */
  --spacing-8: 2rem; /* 32px  */
  --spacing-9: 2.25rem; /* 36px  */
  --spacing-10: 2.5rem; /* 40px  */
  --spacing-11: 2.75rem; /* 44px  */
  --spacing-12: 3rem; /* 48px  */
  --spacing-13: 3.25rem; /* 52px  */
  --spacing-14: 3.5rem; /* 56px  */
  --spacing-15: 3.75rem; /* 60px  */
  --spacing-16: 4rem; /* 64px  */
  --spacing-17: 4.25rem; /* 68px  */
  --spacing-18: 4.5rem; /* 72px  */
  --spacing-19: 4.75rem; /* 76px  */
  --spacing-20: 5rem; /* 80px  */
  --spacing-21: 6rem; /* 96px   */
  --spacing-22: 7rem; /* 112px  */
  --spacing-23: 8rem; /* 128px  */
  --spacing-24: 9rem; /* 144px  */
  --spacing-25: 10rem; /* 160px  */
  --spacing-26: 11rem; /* 176px  */
  --spacing-27: 12rem; /* 192px  */
  --spacing-28: 13rem; /* 208px  */
  --spacing-29: 14rem; /* 224px  */
  --spacing-30: 15rem; /* 240px  */
  --spacing-31: 16rem; /* 256px  */
  --spacing-32: 17rem; /* 272px  */
  --spacing-33: 18rem; /* 288px  */
  --spacing-34: 19rem; /* 304px  */
  --spacing-35: 20rem; /* 320px  */
  --spacing-36: 21rem; /* 336px  */
  --spacing-37: 22rem; /* 352px  */
  --spacing-38: 23rem; /* 368px  */
  --spacing-39: 24rem; /* 384px  */
  --spacing-40: 25rem; /* 400px  */
}

* {
  margin: 0;
  padding: 0;
}

/* ===== DISPLAY ===== */
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

/* ===== FLEX DIRECTION ===== */
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

/* ===== FLEX WRAP ===== */
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/* ===== FLEX GROW / SHRINK ===== */
.flex-grow {
  flex-grow: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink {
  flex-shrink: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}

/* ===== JUSTIFY CONTENT ===== */
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

/* ===== ALIGN ITEMS ===== */
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

/* ===== ALIGN CONTENT ===== */
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-center {
  align-content: center;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}

/* ===== ALIGN SELF ===== */
.self-auto {
  align-self: auto;
}
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-stretch {
  align-self: stretch;
}
.self-baseline {
  align-self: baseline;
}

/* ===== FLEX BASIS ===== */
.basis-auto {
  flex-basis: auto;
}
.basis-full {
  flex-basis: 100%;
}

/* Font Size Utilities Using --spacing- Variables */

.text-xs {
  font-size: var(--spacing-2);
} /* 8px  */
.text-sm {
  font-size: var(--spacing-3);
} /* 12px */
.text-base {
  font-size: var(--spacing-4);
} /* 16px */
.text-lg {
  font-size: var(--spacing-5);
} /* 20px */
.text-xl {
  font-size: var(--spacing-6);
} /* 24px */
.text-2xl {
  font-size: var(--spacing-7);
} /* 28px */
.text-3xl {
  font-size: var(--spacing-8);
} /* 32px */
.text-4xl {
  font-size: var(--spacing-9);
} /* 36px */
.text-5xl {
  font-size: var(--spacing-10);
} /* 40px */
.text-6xl {
  font-size: 3rem;
}

/* Font Weight Utilities */
.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

/* ================TEXT-ALIGN================== */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}
/* Font Weight Utilities */
.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

/* ====================LINE-HEIGHT==================== */
.leading-xs {
  line-height: 0.75rem;
} /* 12px */
.leading-sm {
  line-height: 1rem;
} /* 16px */
.leading-md {
  line-height: 1.25rem;
} /* 20px */
.leading-lg {
  line-height: 1.5rem;
} /* 24px */
.leading-xl {
  line-height: 1.75rem;
} /* 28px */
.leading-2xl {
  line-height: 2rem;
} /* 32px */
.leading-3xl {
  line-height: 2.25rem;
} /* 36px */
.leading-4xl {
  line-height: 2.5rem;
} /* 40px */

/* y-axis margin */
.my-1 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}
.my-2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}
.my-3 {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}
.my-4 {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}
.my-5 {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}
.my-6 {
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}
.my-7 {
  margin-top: var(--spacing-7);
  margin-bottom: var(--spacing-7);
}
.my-8 {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}
.my-9 {
  margin-top: var(--spacing-9);
  margin-bottom: var(--spacing-9);
}
.my-10 {
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-10);
}
.my-11 {
  margin-top: var(--spacing-11);
  margin-bottom: var(--spacing-11);
}
.my-12 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-12);
}
.my-16 {
  margin-top: var(--spacing-16);
  margin-bottom: var(--spacing-16);
}
/* x-axis margin */
.mx-1 {
  margin-left: var(--spacing-1);
  margin-right: var(--spacing-1);
}
.mx-2 {
  margin-left: var(--spacing-2);
  margin-right: var(--spacing-2);
}
.mx-3 {
  margin-left: var(--spacing-3);
  margin-right: var(--spacing-3);
}
.mx-4 {
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-4);
}
.mx-5 {
  margin-left: var(--spacing-5);
  margin-right: var(--spacing-5);
}
.mx-6 {
  margin-left: var(--spacing-6);
  margin-right: var(--spacing-6);
}
.mx-7 {
  margin-left: var(--spacing-7);
  margin-right: var(--spacing-7);
}
.mx-8 {
  margin-left: var(--spacing-8);
  margin-right: var(--spacing-8);
}
.mx-9 {
  margin-left: var(--spacing-9);
  margin-right: var(--spacing-9);
}
.mx-10 {
  margin-left: var(--spacing-10);
  margin-right: var(--spacing-10);
}
.mx-11 {
  margin-left: var(--spacing-11);
  margin-right: var(--spacing-11);
}
.mx-12 {
  margin-left: var(--spacing-12);
  margin-right: var(--spacing-12);
}

/* y-axis margin */
.my-1 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}
.my-2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}
.my-3 {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}
.my-4 {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}
.my-5 {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}
.my-6 {
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}
.my-7 {
  margin-top: var(--spacing-7);
  margin-bottom: var(--spacing-7);
}
.my-8 {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}
.my-9 {
  margin-top: var(--spacing-9);
  margin-bottom: var(--spacing-9);
}
.my-10 {
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-10);
}
.my-11 {
  margin-top: var(--spacing-11);
  margin-bottom: var(--spacing-11);
}
.my-12 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-12);
}
/* y-axis padding */
.py-1 {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}
.py-2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}
.py-3 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}
.py-4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}
.py-5 {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
}
.py-6 {
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}
.py-7 {
  padding-top: var(--spacing-7);
  padding-bottom: var(--spacing-7);
}
.py-8 {
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
}
.py-9 {
  padding-top: var(--spacing-9);
  padding-bottom: var(--spacing-9);
}
.py-10 {
  padding-top: var(--spacing-10);
  padding-bottom: var(--spacing-10);
}
.py-11 {
  padding-top: var(--spacing-11);
  padding-bottom: var(--spacing-11);
}
.py-12 {
  padding-top: var(--spacing-12);
  padding-bottom: var(--spacing-12);
}
/* x-axis padding */
.px-1 {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}
.px-2 {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}
.px-3 {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}
.px-4 {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}
.px-5 {
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
}
.px-6 {
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
}
.px-7 {
  padding-left: var(--spacing-7);
  padding-right: var(--spacing-7);
}
.px-8 {
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
}
.px-9 {
  padding-left: var(--spacing-9);
  padding-right: var(--spacing-9);
}
.px-10 {
  padding-left: var(--spacing-10);
  padding-right: var(--spacing-10);
}
.px-11 {
  padding-left: var(--spacing-11);
  padding-right: var(--spacing-11);
}
.px-12 {
  padding-left: var(--spacing-12);
  padding-right: var(--spacing-12);
}
.px-23 {
  padding-left: var(--spacing-23);
  padding-right: var(--spacing-23);
}

/* ===== GAP (uses your spacing scale) ===== */
.gap-1 {
  gap: var(--spacing-1);
}
.gap-2 {
  gap: var(--spacing-2);
}
.gap-3 {
  gap: var(--spacing-3);
}
.gap-4 {
  gap: var(--spacing-4);
}
.gap-5 {
  gap: var(--spacing-5);
}
.gap-6 {
  gap: var(--spacing-6);
}
.gap-7 {
  gap: var(--spacing-7);
}
.gap-8 {
  gap: var(--spacing-8);
}
.gap-9 {
  gap: var(--spacing-9);
}
.gap-10 {
  gap: var(--spacing-10);
}
.gap-11 {
  gap: var(--spacing-11);
}
.gap-12 {
  gap: var(--spacing-12);
}

/* ==========BORDER-RADIUS===================== */
.rounded-xs {
  border-radius: var(--spacing-1); /* 0.25rem (4px) */
}

.rounded-sm {
  border-radius: var(--spacing-2); /* 0.5rem (8px) */
}

.rounded-md {
  border-radius: var(--spacing-3); /* 0.75rem (12px) */
}

.rounded-lg {
  border-radius: var(--spacing-4); /* 1rem (16px) */
}

.rounded-xl {
  border-radius: var(--spacing-5); /* 1.25rem (20px) */
}

.rounded-2xl {
  border-radius: var(--spacing-6); /* 1.5rem (24px) */
}

.rounded-3xl {
  border-radius: var(--spacing-7); /* 1.75rem (28px) */
}

.rounded-4xl {
  border-radius: var(--spacing-8); /* 2rem (32px) */
}

.rounded-5xl {
  border-radius: var(--spacing-9); /* 2.25rem (36px) */
}

.rounded-full {
  border-radius: 9999px; /* pill / circle */
}
/* =======BORDER-STYLE============= */
.border-solid {
  border-style: solid;
}
.border-dashed {
  border-style: dashed;
}
.border-dotted {
  border-style: dotted;
}
.border-double {
  border-style: double;
}
.border-none {
  border-style: none;
}
/* ============BORDER-WIDTH============ */
.border-0 {
  border-width: 0;
}
.border-1 {
  border-width: 1px;
}
.border-2 {
  border-width: 2px;
}
.border-3 {
  border-width: 3px;
}
.border-4 {
  border-width: 4px;
}
.border-5 {
  border-width: 5px;
}
/* ===========BACKGROUND============== */
.bg-none {
  background: none !important;
}
.bg-img-none {
  background-image: none !important;
}

.bg-repeat-none {
  background-repeat: no-repeat;
}

.bg-size-cover {
  background-size: cover;
}

.bg-size-contain {
  background-size: contain;
}
.bg-1 {
  background-image: url(Frame\ \(6\).png);
}
/* =========CURSOR-STYLE================= */
.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-wait {
  cursor: wait;
}

.cursor-text {
  cursor: text;
}

.cursor-move {
  cursor: move;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-crosshair {
  cursor: crosshair;
}

.cursor-help {
  cursor: help;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

/* ==============color============== */
.border-sky-500 {
  border-color: #0ea5e9;
}
.text-skyblue-100 {
  color: var(--color-text-skyblue-100);
}
.border-white-100 {
  border-color: var(--color-border-white-100);
}
.bg-mediumblue {
  background-color: var(--color-background-mediumblue);
}
.text-white-200 {
  color: var(--color-text-white-200);
}
.text-black-100 {
  color: var(--color-text-black-100);
}
.text-gray-100 {
  color: var(--color-text-gray-100);
}
.bg-color-blue-100 {
  background-color: var(--color-rectangle-blue-100);
}

/* ========HEIGHT============== */
.h-24 {
  height: 6rem;
} /* 96px */

.h-28 {
  height: 7rem;
} /* 112px */

.h-32 {
  height: 8rem;
} /* 128px */

.h-36 {
  height: 9rem;
} /* 144px */

.h-40 {
  height: 10rem;
} /* 160px */

.h-44 {
  height: 11rem;
} /* 176px */

.h-48 {
  height: 12rem;
} /* 192px */

.h-52 {
  height: 13rem;
} /* 208px */

.h-56 {
  height: 14rem;
} /* 224px */

.h-60 {
  height: 15rem;
} /* 240px */

.h-64 {
  height: 16rem;
} /* 256px */

.h-72 {
  height: 18rem;
} /* 288px */

.h-80 {
  height: 20rem;
} /* 320px */

.h-96 {
  height: 24rem;
} /* 384px */

/* ================WIDTH===================== */
.w-20 {
  width: 5rem;
} /*  80px */
.w-24 {
  width: 6rem;
} /*  96px */
.w-28 {
  width: 7rem;
} /* 112px */
.w-32 {
  width: 8rem;
} /* 128px */
.w-36 {
  width: 9rem;
} /* 144px */
.w-40 {
  width: 10rem;
} /* 160px */
.w-44 {
  width: 11rem;
} /* 176px */
.w-48 {
  width: 12rem;
} /* 192px */
.w-52 {
  width: 13rem;
} /* 208px */
.w-56 {
  width: 14rem;
} /* 224px */
.w-60 {
  width: 15rem;
} /* 240px */
.w-64 {
  width: 16rem;
} /* 256px */
.w-72 {
  width: 18rem;
} /* 288px */
.w-80 {
  width: 20rem;
} /* 320px */
.w-96 {
  width: 24rem;
} /* 384px */
/* ========BACKGROUND-IMAGE============== */

.bg-top {
  background-position: top;
}

.bg-bottom {
  background-position: bottom;
}

.bg-left {
  background-position: left;
}

.bg-right {
  background-position: right;
}
