* {
   padding: 0px;
   margin: 0px;
}

/* navbar start */
#navbar {
   display: flex;
   align-items: center;
}

#logo {
   margin: 34px 45px;
}



#logo p {
   height: 50px;
   margin: 8px 208px;
   font-size: 2.3rem;
   padding: 3px;
   font-family: "Lexend", sans-serif;

}


#navbar ul {
   display: flex;
}

#navbar ul li {
   list-style: none;
   font-size: 1.8rem;
}

#navbar ul li a {
   display: block;
   color: black;
   text-decoration: none;
   padding: 5px 30px;
   font-family: "Lexend", sans-serif;


}

/* home start */
#home {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 5px 300px;
   
}

.img-modify img {
   display: block;
   border-radius: 400px;
   height: 400px;

}

.p-primary {
   margin: 100px 0px;
   display: block;
   padding: 51px;
}

.btn-modify {
   display: flex;
    

}


#home button {
   border-radius: 30px;
   padding: 15px;
}


#btn-one:hover {
   background-color: black;
   color: white;
   cursor: pointer;
}

#btn-two {
   background-color: rgb(32, 16, 16);
   color: white;
}


#btn-two:hover {
   cursor: pointer;

}




#about{
   display: block;
   justify-content: center;
   text-align: center;
   padding: 27px;
   margin: 174px;
    

}



#mid-one {
   padding: 5px 0px;
   opacity: 0.9;
   font-size: 0.9rem;
   font-family: "Montserrat", sans-serif;
}


#mid-two {
   padding: 3px 0px;
   font-size: 3.5rem;
   font-family: "Oswald", sans-serif;
}

#img-2 {
   display: flex;
   flex-direction: row;

}

#img-2 img {
   height: 400px;
   border-radius: 40px;
   display: flex;
   align-items: baseline;
   margin: 5px -45px;
   padding: 3px;


}

#para-one {

   display: block;
   align-items: center;
   border: 1px solid black;
   border-radius: 25px;
   text-align: center;
   height: 98px;
   width: 280px;
   margin: 76px 82px;
   padding: 35px;
   font-size: 16px;
   font-family: "Montserrat", sans-serif;

}


#para-two {
   display: block;
   align-items: center;
   border: 1px solid black;
   border-radius: 25px;
   text-align: center;
   height: 79px;
   width: 247px;
   margin: 74px 0px;
   padding: 41px;
   font-size: 16px;
   font-family: "Montserrat", sans-serif;
}
#para-one p{
   color: gray;
}

#para-two  p{
   color: gray;
}

#para {
   display: flex;
   position: absolute;


}


#para .p-secondary p {

   width: 700px;
   text-align: justify;
   margin-top: 275px;
   margin-left: 400px;
   padding: 20px;
   font-size: 1.1 rem;
   font-family: "Lexend", sans-serif;
   color: gray;
}

.center{
     text-align: center;
}

#experience .p-new {
     padding: 3px;
     font-size: 1.2rem;
     color: gray;
     
}

#experience .h-primary{
   padding: 5px;
   font-size: 3.75rem;
}


.skills {
   border: 1px solid gray; 
    border-radius: 30px;
    width: 530px;
    height: 367px;
    margin: 22px;
    display: inline-block;
    margin-left: 176px;
}

.skills-container{
   display: grid;
    margin: 20px;
    padding: 24px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 5rem;
     
}

.skill{
   display: flex;
  align-items: center;
  justify-content: center;
   gap: 30px;
} 

.skills h2 {
  text-align: center;
  color: grey;
  margin-top: 10px;
}

.skills  h4{
   text-align: center;
   font-size: 1.3rem;
    
}  
.skill small{
   color: grey ;
   font-size: 1rem;
}

.skill img{
    height: 30px ;
   
}

 

.contact {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top:100px;
    
}

.box{
   border: 1px solid gray;
   width: 300px;
   border-radius: 30px;
    padding: 30px;
    margin: 25px;

}
 
.contact h3{
   font-size: 3rem;
   margin: 15px;
}
   
.contact small {
   font-size: 1.2rem ;
   margin: 7px;
   color: grey; 
}


.contact p{
    font-weight: 400;
   text-align: center; 
}


 